body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://images.unsplash.com/photo-1624413827811-dee94b5dc247?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80') no-repeat center center;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#crab {
  margin-left: 5px;
  max-width: 80px;
  max-height: 80px;
}

[data-pos="delete-drink"] {
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

[data-pos="delete-drink"]:hover {
  color: #333;
}

/* right-menu */
.menu .card-body {
  cursor: pointer;
}

.menu .card-body:hover {
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.8)
}