/* just for help coding */
.col-md-4, .col-md-8 {
  outline: 1px solid steelblue;
  min-height: 600px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#crab {
  margin-left: 5px;
  max-width: 80px;
  max-height: 80px;
}